<% include partials/header %>
<% include partials/navbar %>
<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg p-3 mb-5 bg-body rounded">
        <div class="card-body">
          <h2 class="card-title text-center">Login</h2>
          <form method="POST" action="/login">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
            <a>Don't have an account? <a href="/register">Register</a></a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer %>
